input:focus {
  outline: none;
  border-color: #21bf48;
}

select:focus {
  outline: none;
  border-color: #21bf48;
}

button {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.ir {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}
